
/* MOBILE MEDIAQUERIE */
@media screen and (min-width: 60px) {
    
    body {
    background-color: #FFD6B4;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    width: 10%;
    list-style-type: none;
    font-family: helvetica neue;
    font-weight: 600;
    padding-right: 40px;;
    color: #2B025C;
    font-size: 1.3em;
}

main {
    margin-top: -100px;
}

main img {
    position: relative;
    bottom: -1em;
    /* left: -6em; */
    margin-left: -6em;
    z-index: -1;
    width: 250px;
}

.intro {
    background-color: #FFA152;
    /* box-sizing: border-box; */
    width: 89%;
    /* padding: 30px; */
    /* padding-right: 100px; */
    /* padding-left: 100px; */
    margin-top: -9em;
    margin-left: 1em;
}

main h1 {
 color: #2B025C;
   font-weight: 800;
   font-size: 3em;
   margin-left: 2%;
   margin-bottom: 0%;
   margin-top: 25px;
   font-style: italic;
   font-family: helvetica neue;
   padding: 17px;
    
}

main p {
    color: white;
    font-family: helvetica neue;
    font-size: 17px;
    font-weight: 100;
    margin-left: 13%;
    margin-right: 20px;
    padding-left: 14px;
    padding-bottom: 43px;
    
}

main article ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}


/*https://stackoverflow.com/questions/4264527/vertical-text-direction*/

main article li {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    list-style-type: none;
    background-color: #FFA152;
    padding: 5em;
    width: 10em;
    margin: 2em;
    font-family: helvetica neue;
    font-weight: 600;
    color: #2B025C;
    font-size: 1.3em;
}

}
  







/*TABLET MEDIAQUERIE*/
@media screen and (min-width: 600px) {
    
body {
    background-color: white;
    
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    width: 10%;
    list-style-type: none;
    font-family: helvetica neue;
    font-weight: 600;
    padding-right: 40px;;
    color: #2B025C;
    font-size: 1.3em;
}

main {
    margin-top: -100px;
}

main img {
    position: relative;
    bottom: -10em;
    z-index: -1; 
    width: 250px;
    
}



.intro {
    background-color: #FFA152;
    box-sizing: border-box;
    width: 80%;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
}

main h1 {
   color: #2B025C;
    font-weight: 600;
    font-size: 5em;
    margin-left: 2%;
    margin-bottom: 0%;
    margin-top: 25px;
    font-style: italic; 
    font-family: helvetica neue;
    
}

main p {
    color: white;
    font-family: helvetica neue;
    font-size: 20px;
    font-weight: 100;
    margin-left: 13%;
    margin-right: 20px;
    
}

main article ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}


/*https://stackoverflow.com/questions/4264527/vertical-text-direction*/

main article li {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    list-style-type: none;
    background-color: #FFA152;
    padding: 5em;
    width: 10em;
    margin: 2em;
    font-family: helvetica neue;
    font-weight: 600;
    color: #2B025C;
    font-size: 1.3em;
}

}







/*DESKTOP MEDIAQUERIE*/
@media screen and (min-width: 992px) {
    
body {
    background-color: black;
    
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    width: 10%;
    list-style-type: none;
    font-family: helvetica neue;
    font-weight: 600;
    padding-right: 40px;;
    color: #2B025C;
    font-size: 1.3em;
}

main {
    margin-top: -100px;
}

main img {
    position: relative;
    bottom: -10em;
    z-index: -1; 
    width: 250px;
    
}



.intro {
    background-color: #FFA152;
    box-sizing: border-box;
    width: 80%;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
}

main h1 {
   color: #2B025C;
    font-weight: 600;
    font-size: 5em;
    margin-left: 2%;
    margin-bottom: 0%;
    margin-top: 25px;
    font-style: italic; 
    font-family: helvetica neue;
    
}

main p {
    color: white;
    font-family: helvetica neue;
    font-size: 20px;
    font-weight: 100;
    margin-left: 13%;
    margin-right: 20px;
    
}

main article ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}


/*https://stackoverflow.com/questions/4264527/vertical-text-direction*/

main article li {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    list-style-type: none;
    background-color: #FFA152;
    padding: 5em;
    width: 10em;
    margin: 2em;
    font-family: helvetica neue;
    font-weight: 600;
    color: #2B025C;
    font-size: 1.3em;
}

}





