/* MOBILE MEDIAQUERIE */

@media screen and (min-width: 60px) {
    body {
        background-color: #FFD6B4;
    }
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    nav li {
        list-style-type: none;
        font-family: helvetica neue;
        font-weight: 600;
        padding-right: 15px;
        color: #2B025C;
        font-size: 1em;
        text-decoration: underline;
    }
    nav {
        margin-right: 23px;
    }
    main {
        margin-top: -100px;
    }
    .orangeslice {
        position: relative;
        bottom: -1em;
        /* left: -6em; */
        margin-left: -6em;
        z-index: -1;
        width: 250px;
    }
    
    .orangeslice3 {
        position: relative;
        bottom: -25em;
        left: -15em; 
        margin-left: 5em;
        z-index: -3;
        width: 80px;
    } 
    
    .lijn {
        position: relative;
        width: 10px;
    }


    .intro {
        background-color: #FFA152;
        /* box-sizing: border-box; */
        width: 89%;
        /* padding: 30px; */
        /* padding-right: 100px; */
        /* padding-left: 100px; */
        margin-top: -8em;
        margin-left: 1em;
    }
    main h1 {
        color: #2B025C;
        font-weight: 800;
        font-size: 3em;
        margin-left: 2%;
        margin-bottom: 0%;
        margin-top: 25px;
        font-style: italic;
        font-family: helvetica neue;
        padding: 17px;
    }
    main p {
        color: white;
        font-family: helvetica neue;
        font-size: 17px;
        font-weight: 100;
        margin-left: 13%;
        margin-right: 20px;
        padding-left: 14px;
        padding-bottom: 43px;
    }
    main article ul {
        display: flex;
        /*     justify-content: space-around; */
        flex-wrap: wrap;
        padding: 0px;
    }
    /*https://stackoverflow.com/questions/4264527/vertical-text-direction*/
    main article li {
        list-style-type: none;
        background-color: #FFA152;
        /* padding: 5em; */
        /* padding-top: 81px; */
        width: 310px;
        height: 15em;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        font-family: helvetica neue;
        font-weight: 600;
        color: #2B025C;
        /* font-size: 1.3em; */
    }
    main article ul li h2 {
        writing-mode: tb-rl;
        transform: rotate(180deg);
        margin-left: -26px;
        margin-top: 60px;
        text-align: center;
        /* width: 92px; */
        height: 150px;
        z-index: 2;
        font-size: 2em;
    }
    main article li img {
      margin-right: auto;
        margin-left: auto;
        margin-top: -210px;
        /* margin-bottom: -18px; */
        width: 310px;
        height: 15em;
        z-index: 1;
        position: initial;
    }
}


/*TABLET MEDIAQUERIE*/

@media screen and (min-width: 600px) {
    body {
        background-color: #FFD6B4;
    }
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    nav li {
        list-style-type: none;
        font-family: helvetica neue;
        font-weight: 600;
        padding-right: 15px;
        color: #2B025C;
        font-size: 1.3em;
        text-decoration: underline;
    }
    nav {
        margin-right: 100px;
    }
    main {
        margin-top: -100px;
    }
    main img {
        position: relative;
        bottom: -1em;
        z-index: -1;
        width: 280px;
    }
    .intro {
        background-color: #FFA152;
        box-sizing: border-box;
        width: 80%;
        padding-left: 50px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 5%;
    }
    main h1 {
        color: #2B025C;
        font-weight: 600;
        font-size: 4em;
        margin-left: 2%;
        margin-bottom: 0%;
        margin-top: 25px;
        font-style: italic;
        font-family: helvetica neue;
    }
    main p {
        color: white;
        font-family: helvetica neue;
        font-size: 18px;
        font-weight: 100;
        margin-left: 13%;
        margin-right: 20px;
    }
    main article ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    /*https://stackoverflow.com/questions/4264527/vertical-text-direction*/
    main article li {
        writing-mode: tb-rl;
        transform: rotate(180deg);
        list-style-type: none;
        background-color: #FFA152;
        padding: 5em;
        width: 10em;
        margin: 2em;
        font-family: helvetica neue;
        font-weight: 600;
        color: #2B025C;
        font-size: 1.3em;
    }
}


/*DESKTOP MEDIAQUERIE*/

@media screen and (min-width: 992px) {
    body {
        background-color: #FFD6B4;
    }
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    nav li {
        list-style-type: none;
        font-family: helvetica neue;
        font-weight: 600;
        padding-right: 30px;
        color: #2B025C;
        font-size: 1.3em;
    }
    nav {
        margin-right: 120px;
    }
    main {
        margin-top: -100px;
    }
    main img {
        position: relative;
        bottom: -10em;
        z-index: -1;
        width: 250px;
    }
    .intro {
        background-color: #FFA152;
        box-sizing: border-box;
        width: 80%;
        padding-left: 50px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 5%;
    }
    main h1 {
        color: #2B025C;
        font-weight: 600;
        font-size: 5em;
        margin-left: 2%;
        margin-bottom: 0%;
        margin-top: 25px;
        font-style: italic;
        font-family: helvetica neue;
    }
    main p {
        color: white;
        font-family: helvetica neue;
        font-size: 20px;
        font-weight: 100;
        margin-left: 13%;
        margin-right: 20px;
    }
    main article ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    /*https://stackoverflow.com/questions/4264527/vertical-text-direction*/
    main article li {
        writing-mode: tb-rl;
        transform: rotate(180deg);
        list-style-type: none;
        background-color: #FFA152;
        padding: 5em;
        width: 10em;
        margin: 2em;
        font-family: helvetica neue;
        font-weight: 600;
        color: #2B025C;
        font-size: 1.3em;
    }
}